@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand:wght@300;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

body {
  font-family: "Quicksand", sans-serif; }

h1, h2 {
  font-family: "Pacifico", cursive; }

h3 {
  font-family: "Quicksand", sans-serif;
  color: #f95738;
  text-align: center; }

h4 {
  font-family: "Quicksand", sans-serif;
  color: #0d3b66;
  text-align: center; }

footer {
  background-color: #faf0ca; }

header .row {
  --bs-gutter-x: 0rem; }

.navbar {
  background-color: #ffbd59;
  font-family: "Pacifico", cursive; }

.active {
  font-weight: bold; }

.logo-lg {
  max-width: 300px;
  min-width: 100px; }

.btn, .btn:after, .btn:hover {
  background-color: #17bebb;
  color: white; }

.btn-check:focus + .btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(23, 190, 187, 0.25); }

.accordion-button {
  background-color: #17bebb;
  color: #fff; }

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #17bebb;
  box-shadow: 0 0px 0 #17bebb; }

.accordion-button:focus {
  z-index: 3;
  border-color: #17bebb;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(23, 190, 187, 0.25); }

.accordion h2 {
  font-family: "Quicksand", sans-serif; }

.index .card-img-overlay {
  left: 15px;
  text-shadow: 1px 1px 5px #000000;
  font-weight: bold; }

.index h5 {
  text-shadow: 1px 1px 5px #000000;
  font-weight: bold; }

.fa {
  color: white;
  font-size: 1.5em; }

#jumbotron {
  background-color: #ffbd59; }

#social-nav {
  background-color: #ffbd59; }

/* LOST AND FOUND */
.modal-header, .modal-header h3 {
  background-color: #17bebb;
  color: white; }

.lost .lost-hero {
  background: rgba(0, 0, 0, 0.5) url() no-repeat center;
  background-size: cover;
  background-blend-mode: darken; }

.lost .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: center; }

/* Make the image fully responsive */
